@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .share-widget-container .info {
    text-align: left;
  }
  a.adcaption {
    color: #888 !important;
    text-transform: uppercase;
  }
  a.caption {
    color: #888 !important;
    text-transform: uppercase;
  }
  .read-mode .article-vote .vote-title {
    color: #eaeaea;
  }
  .read-mode .article-vote .L-radio .text {
    color: #eaeaea;
  }
  .read-mode .article-vote .vote-form .L-button {
    background: #f60;
    color: #fff;
    border: 0;
    box-shadow: none;
  }
  .read-mode .article-vote .vote-options .percent {
    color: #a1a1a1;
  }
  .read-mode .article-vote .result-chart {
    background: #333333;
  }
  .read-mode .article-vote .result-chart .line {
    background: #909090;
  }
  .read-mode .article-vote .result-chart.longest .line {
    background: #e25900;
  }
  .read-mode .embedly-card .embedly-card-hug {
    background: #eaeaea;
  }
}
